// Footer

#footer {
  font-size: 12px;
  padding: 35px 0 25px;
  width: 100%;
	color: $grey;
	position: relative;
	overflow: hidden;
	.container {
		@media only screen and (max-width: $screen-md) {
			width: 100%;
			.col-sm-3 {
				width: 30%;
				@media only screen and (max-width: $screen-sm) {
					width: 100%;
				}
			}
		}
	}
	ul {
		li {
			font-family: $font-default;
			display: inline;
			@media screen and (max-width: $screen-xs) {
				width: 50%;
				display: inherit;
				float: left;
			}
			a {
				font-size: 12px;
				color: $lightgrey;
				line-height: 32px;
				display: inline;
				padding-right: 8px;
				@include transition(.5s);
				&:hover {
					color: $grey;
					text-decoration: none;
				}
			}
		}
	}
	p {
		font-family: $font-default;
		color: $lightgrey;
		line-height: 31px;
		@media only screen and (max-width: $screen-sm) {
			line-height: 12px;
		}
	}
	.col-md-4 {
		width: 33%;
		@media screen and (max-width: $screen-sm) {
			width: 100%;
		}
	}
	.col-md-2 {
		img {
			margin-left: -26px;
			@media only screen and (max-width: $screen-sm) {
				margin-left: 0;
				margin-top: 15px;
			}
		}
	}
	.col-md-6 {
		padding-left: 0;
	}
	@media only screen and (max-width: $screen-sm) {
		padding: 15px 0 5px;
		text-align: center;
	}
	@media screen and (max-width: $screen-xs) {
		padding: 30px 10px 20px;
	}
}