
// Navigation

/*--------------------*/
/* HEADER/MENU */
/*--------------------*/

#navigation, #banner {
	margin: 0;
	padding: 0;
	.col-sm-2, .col-sm-10 {
		margin: 0;
		padding: 0;
	}
}
#navigation {
	@media screen and (max-width: $screen-lg) {
		width: 18.66667%;
	}
	@media screen and (max-width: $screen-md) {
		width: 21.66667%;
	}
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
}
#banner {
	@media screen and (max-width: $screen-lg) {
		width: 81.33333%;
	}
	@media screen and (max-width: $screen-md) {
		width: 78.33333%;
	}
	@media screen and (max-width: $screen-sm) {
		width: 100%;
	}
}
nav {
  width: 100%;
  position: relative;
	z-index: 9999;
  &.navbar-default {
		width: 100%;
		height: 295px;
		background-color: $blue;
		border-color: $blue;
		position: relative;
		margin-bottom: 0;
		@include border-radius(0);
		.navbar-toggle {
			border: none;
			&:hover, &:focus {
				background: none;
				.icon-bar {
					background: $white;
				}
			}
			.icon-bar {
				width: 37px;
    		height: 3px;
				background: $lightblue;
			}
		}
		@media screen and (max-width: $screen-lg) {
			height: 257px;
		}
		@media screen and (max-width: $screen-md) {
			height: 191px;
		}
		@media only screen and (max-width: $screen-sm) {
			height: inherit;
		}
  }
	.main-nav {
		float: inherit;
		li {
			display: block;
			position: relative;
			float: none;
			a {
				color: $white;
				padding-top: 8px;
    		padding-bottom: 8px;
				text-transform: uppercase;
				&.active {
					color: $lightblue;
				}
				@media screen and (max-width: $screen-md) {
					padding-top: 5px;
					padding-bottom: 5px;
				}
				@media screen and (max-width: $screen-sm) {
					padding-top: 8px;
					padding-bottom: 8px;
				}
			}
		}
		&.right {
			position:absolute; 
			right:0;
			z-index:9999;
			margin: -112px -976px 0 0;
			background: $blue;
			@media screen and (max-width: $screen-lg) {
				margin: -223px -790px 0 0;
			}
			@media screen and (max-width: $screen-md) {
				margin: -187px -588px 0 0;
			}
			li {
				a {
					padding-right: 40px;
					@media screen and (max-width: $screen-md) {
						padding-right: 10px;
					}
				}
				&:nth-child(2) {
					a {
						border-bottom: none !important;
					}
				}
			}
			@media screen and (max-width: $screen-sm) {
				position:inherit; 
				right: inherit;
				margin: -7px -15px 0;
			}
		}
	}
	.main-nav .dropdown:hover .dropdown-toggle { 
		color: $lightblue !important; 
	}
.navbar-header {
	float: none;
}
.navbar-collapse.in {
	clear: both;
}
.navbar-nav > li > .dropdown-menu {
	margin: -38px 0 0 194px;
	padding: 0;
	background: $darkgrey;
	@media screen and (max-width: $screen-lg) {
	  margin: -38px 0 0 179px;
	}
	@media screen and (max-width: $screen-md) {
	  margin: -32px 0 0 161px;
	}
  li {
		margin: 0;
    padding: 0;
  }
  > li > a {
    font-size: 14px;
		color: $white;
    padding: 8px 10px;
		line-height: 20px;
		text-transform: inherit;
		@include transition(.5s);
			&:hover, &:focus {
				color: $white;
				background-color: $lightblue;
			}
  	}
	}
}
.navbar-collapse {
	padding: inherit;
	@media only screen and (max-width: $screen-sm) {
		padding: 0 15px;
	}
}
.navbar-default {
	.navbar-nav {
		li {
			a {
				/*font-family: $font-secondary;*/
				font-size: 13px;
				color: $white;
				border-bottom: 1px solid $white;
				&:hover, &:focus {
					color: $lightblue;
					background: transparent;
				}
				.fa {
					margin-top: 2px;
				}
		 	}
		}
	}
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: $white;
	background-color: transparent;
	border-color: $white;
}

@media (min-width: 320px) and (max-width: 768px) {
.navbar-nav li.dropdown ul.dropdown-menu {
	display: none !important;
	@include opacity(0);
}
.navbar-nav li.dropdown.open ul.dropdown-menu {
	display: block !important;
	margin: 0;
	@include opacity(1);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: $white;
	&:hover {
		color: $lightblue;
	}

}	

}