@font-face {
    font-family: 'FranklinGothicDemiRegular';
    src: url('../font/fradm.eot');
    src: url('../font/fradm.eot') format('embedded-opentype'),
         url('../font/fradm.woff') format('woff'),
         url('../font/fradm.ttf') format('truetype'),
         url('../font/fradm.svg#FranklinGothicDemiRegular') format('svg');
}


@font-face {
    font-family: 'FranklinGothicHeavyRegular';
    src: url('../font/frahv.eot');
    src: url('../font/frahv.eot') format('embedded-opentype'),
         url('../font/frahv.woff') format('woff'),
         url('../font/frahv.ttf') format('truetype'),
         url('../font/frahv.svg#FranklinGothicHeavyRegular') format('svg');
}

@font-face {
    font-family: 'FranklinGothicMediumRegular';
    src: url('../font/framd.eot');
    src: url('../font/framd.eot') format('embedded-opentype'),
         url('../font/framd.woff') format('woff'),
         url('../font/framd.ttf') format('truetype'),
         url('../font/framd.svg#FranklinGothicMediumRegular') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

body { font-family: 'FranklinGothicMediumRegular', sans-serif; font-size: 15px;}
h1, h2, h3, h4, h5, h6 {font-family: sans-serif !important;}
.nav-custom {font-family: 'FranklinGothicDemiRegular', sans-serif !important;}

a { text-decoration:none; }
h1 { font-size:20px; color:#005581; font-weight:700; line-height:24px;}
h2 { font-size:16px}
h3 { font-size:14px; color:#FFF; background:#005581; padding-left:15px;}
.text-info2 {color:#005581; font-weight:bold;}
.text-gold { color:#a98d01;}
.paddingtop-20 { padding-top:20px;}
.logos { padding:10px 0;}
.logos .aerospace-logo { height:77px; width:338px; display:block; overflow:hidden; background:url(../img/brand.jpg) no-repeat 0 0; text-indent:-500px;}
.logos .best-logo { height:50px; width:110px; display:block; overflow:hidden; background:url(../img/best.jpg) no-repeat 0 0; text-indent:-500px; margin-top:15px; float: right}
.logos .hallmark-logo { height:80px; width:423px; display:block; overflow:hidden; background:url(../img/hallmark-select-logo.png) no-repeat 0 0; text-indent:-500px;}
.logos .hallmark-es-logo { height:80px; width:389px; display:block; overflow:hidden; background:url(../img/hallmark-es-logo.png) no-repeat 0 0; text-indent:-500px;}
.logos .hallamark-pro-logo { height:80px; width:389px; display:block; overflow:hidden; background:url(../img/hallamark-pro-logo.png) no-repeat 0 0; text-indent:-500px;}

.navbar-inner { border-radius:0!important; background:#005581!important;}
.navbar-inner .nav a { color:#FFF!important; text-shadow:#000 -1px -1px!important;}
.navbar-inner .nav a:hover { color:#6CF!important; text-shadow:#000 -1px -1px!important;}

.banner { height:290px; display:block; overflow:hidden; position:relative; background:#999}
.banner-images { z-index:50; position:relative;}
.banner-images > div { height:290px; width:50%; overflow:hidden; display:block; float:left;}
.banner-images img { height:290px; position:absolute; left:0; top:0;}
	
.left-menu, .right-menu { background:#005581!important; border-radius:8px;}
	/*.left-menu a, .right-menu a { display:block; padding:9px 15px; text-align:center; font-size:14px; font-weight:400; color:#FFF; border-bottom:1px solid #FFF; line-height:16px; }
	.left-menu a:last-child, .right-menu a:last-child{ border-bottom:none;}
	.left-menu a:hover, .right-menu a:hover {color:#6CF; text-decoration:none}*/
	.right-menu.small { width:50%}

	
.banner .left-menu { width:200px; background:#005581; height:290px; border-radius:0; left:0; position:absolute; z-index:100; top:0;}
.banner .right-menu { width:170px; background:#005581; border-radius:0; right:0; position:absolute; z-index:100; top:0;}
.banner .right-menu .nav{ margin-bottom: 0;}
.footer { font-size:13px; padding:15px 0; color:#999;}
.footer a { padding-left:9px; color:#999;}
.footer a:first-child { padding-left:0;}
.footer .hallmark-select { height:30px; background:url(../img/hallmark.png) no-repeat center center; margin-top:15px;}
.footer .hallmark-select.pull-right { height:23px; margin-top:0; width:190px;}

.custom-login .controls { margin-left:80px;}
.custom-login .control-label { width:70px;}

.list-style-yellow > li { list-style-image:url(../img/list-style-gray.png);}
.list-style-blue > li { list-style-image:url(../img/list-style-blue.png);}
.two-col-list > li { width:50%; float:left;}

.ic-ie, .ic-pdf { height:16px; width:16px; display:inline-block; overflow:hidden; background-repeat:no-repeat; background-position:center;}
.ic-ie { background-image:url(../img/ic-ie.png)}
.ic-pdf { background-image:url(../img/ic-pdf.png)}
	
.big-title { font-weight:bold; font-size:16px; margin-bottom:18px; }
.big-title b { display:block; color:#005581;}
	
.table-cus-header th { background:#005581; border-color:#000; color:#FFF;}
.table-cus-bg { background:#dfd49c; }	
.table-cus-bg, .table-cus-bg td, .table-cus-bg th { border-color:#c7b65e;}

.slide-content .sc-heading {font-weight:bold; font-size:16px; padding:5px; display:block; clear:both; color:#000; cursor:pointer;}
.slide-content .sc-heading:hover {text-decoration:none; color:#005580!important; }
.slide-content .well { padding:10px!important; background:#dfd49c; border-color:#c7b65e; display:none; max-height:500px; overflow:auto;}
.slide-content .table tr:first-child td { border-top:none;}
.slide-content .table td { border-color:#c7b65e;}
.slide-content .well .table {margin-bottom:0!important;}

.label-changed .control-group > .control-label{ width:175px;}
.label-changed .control-group > .controls{ margin-left:190px;}

.span3 > .control-label, .span2 > .control-label, .span1 > .control-label { width:100%; display:block; text-align:right;}
.logos .pull-right a { margin:0 auto;}
@media(max-width:320px) {
	.logos .pull-left, .logos .pull-right { float:none!important; display:block;}	
	.logos a { margin:0 auto 10px auto;}	
	.two-col-list > li { width:100%; float:none;}
	
	.banner .left-menu, .banner .right-menu { width:100%; background:#005581; height:auto; border-radius:8px; position:relative; z-index:100; margin-bottom:15px;}
	.banner { height:100%; display:block; overflow:hidden; position:relative; background:none;}
	.banner-images { display:none;}
	
	.nav-custom.nav-stacked>li>a { color:#FFF;}
	.nav-custom>.active>a, .nav-custom>.active>a:hover, .nav-custom>.active>a:focus { color:#005581!important;}
	.nav-custom.nav-stacked>li>a:hover, .nav-custom.nav-stacked>li>a:focus {color:#333!important;}

	.nav-custom>li>.dropdown-menu{ width:100%; margin-top:0; border-radius:0; padding:0; position:static;}
	.nav-custom>li>.dropdown-menu{background:url(../img/menu-bg.png) repeat 0 0;}
	.nav-custom>li>.dropdown-menu>li>a { color:#FFF; border-bottom:#FFF 1px solid; padding:6px 5px 6px 25px; }
}

@media(max-width:480px) {
	.logos .hallmark-logo, .logos .hallmark-es-logo {background-size:280px 40px; height:50px; width:280px;}
	.logos .best-logo { margin-top:0}
	.label-changed .control-group > .control-label{ width:100%; display:block; float:none;}
	.label-changed .control-group > .controls{ margin-left:0; display:block; float:none;}
	.span3 > .control-label, .span2 > .control-label, .span1 > .control-label {text-align:left;}
}

@media(max-width:768px) {
	.footer .pull-right, .footer .pull-left, .footer .hallmark-select.pull-right { float:none; margin-top:15px; display:block; width:100%; text-align:center;}
	.footer .hallmark-select.pull-right { height:23px;}
}

@media(min-width:1023px) {
.nav-pills li a { border-radius: 5px 5px 0 0; margin-bottom:0;}
.nav-pills { border-bottom:2px solid #005581;}
}

@media(min-width:321px) {
.nav-custom { }
.nav-custom.nav-stacked>li>a { border-radius:0!important; border-width:0 0 1px 0!important; text-transform:uppercase;color:#FFF;}
.nav-custom>.active>a, .nav-custom>.active>a:hover, .nav-custom>.active>a:focus {color:#6CF; background:none;}
.nav-custom.nav-stacked>li>a:hover, .nav-custom.nav-stacked>li>a:focus {color:#6CF;background:none;}

.nav-custom>li>.dropdown-menu{ left:100%; margin-top:-37px; border-radius:0; padding:0;}
.nav-custom>li>.dropdown-menu{background: #53565a;}
.nav-custom>li>.dropdown-menu>li>a { color:#FFF; border-bottom:#FFF 1px solid; padding:7px 5px 8px 5px; }

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus { background-color:transparent!important;}
}











