<IfModule mod_rewrite.c>
    Options -Indexes
	Options +FollowSymLinks
    RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
#	RewriteCond %{HTTP_HOST} ^hallselect\.com
#	RewriteRule ^(.*)$ http://www.hallselect.com/ [R=permanent,L]
	RedirectPermanent http://hallselect.com http://www.hallselect.com
	
</IfModule>

#AuthUserFile C:\wamp\www\.htpasswd
#AuthName "Please Enter User & PW"
#AuthType Basic
#require valid-user